body { background-image: url('../assets/images/windowsBackground.jpg');
background-size: cover;
}

#game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#next-question {
  display: flex;
  justify-content: center;
  padding: 10px;
}
#game-intro h1 {
  text-align: center;
  font-size: 2vw;
}

#game-content h4 {
  text-align: center;
  font-size: 1vw;
}

#game-content button:hover {
  background: lightgreen;
}

#game-content button {
  border-radius: 0px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 4px solid black;
  background: white;
}

#answer-container img {
  max-width: 13vw;
  max-height: 10vw;
  object-fit: contain;
}

button#start-button {
  width: 100px;
  padding: 11px;
  margin-top: 19%;
  border-radius: 0px;
  text-transform: capitalize;
  font-family: monospace;
  font-size: 24px;
  background: lightgreen;
}

button#start-button:hover {
  background: white;
}

#game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 65vw;
  padding-top: 15vw
}

#game-content-wrapper {
  width: 65vw;
}
#game-content-background {
  position: absolute;
  width: 65vw;
}
#game-content-background img{
  width: 100%;
}

#timer-content {
  display: flex;
  justify-content: center;
  font-size: 15px;
  height: 10px;
  color: red;
  position: absolute;
  right: 5vw;
}

#category-container {
  display: flex;
  justify-content: center;
  height: 40px;
}

#choices-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}

#choices-container button {
  border-radius: 0px;
}

.answer {
  font-size: 20px;
}

#answer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#final-score {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#reset-button {
  text-align: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0px;
}

